@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url("MuseoSansRegular.eot");
    src: url("MuseoSansRegular.eot?#iefix") format("embedded-opentype"),
         url("MuseoSansRegular.woff2") format("woff2"),
         url("MuseoSansRegular.woff") format("woff"),
         url("MuseoSansRegular.ttf") format("ttf"),
         url("MuseoSansRegular.svg#MuseoSansCyrl-300") format("svg");
    font-style: normal;
    font-weight: 300;
}